<div class="row">
    <h2>
        My Subscription
    </h2>
</div>
<hr />

<div class="row">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal">Plan Name :</label>
        <div class="col-sm-10">
            {{CustomerPlan.Name}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtMonthlyCharge">Monthly Charge : </label>
        <div class="col-sm-10">
            {{CustomerPlan.MonthlyCharge}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtSetupFees">Setup Fees : </label>
        <div class="col-sm-10">
            {{CustomerPlan.SetupFees}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtAllowedBotLimit">Allowed BotLimit : </label>
        <div class="col-sm-10">
            {{CustomerPlan.AllowedBotLimit}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtAdvanceTraining">Advance Training : </label>
        <div class="col-sm-10">
            {{CustomerPlan.AdvanceTraining}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtAnalyticsplan">Analytics Plan : </label>
        <div class="col-sm-10">
            {{CustomerPlan.Analyticsplan}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtLogRetainingDay">Log Retaining Day : </label>
        <div class="col-sm-10">
            {{CustomerPlan.LogRetainingDay}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtSiteSpecification">Site Specification : </label>
        <div class="col-sm-10">
            {{CustomerPlan.SiteSpecification}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtKnowledgeDomain">Knowledge Domain : </label>
        <div class="col-sm-10">
            {{CustomerPlan.KnowledgeDomain}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtCompanyName">Activation Date : </label>
        <div class="col-sm-10">
            {{CustomerPlan.ActivationDate | date : 'dd/MM/yy'}}
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <div class="form-group">
        <label class="control-label col-sm-2" style="font-weight:normal" for="txtCompanyName">Expiry Date :</label>
        <div class="col-sm-10">
            {{CustomerPlan.ExpiryDate | date : 'dd/MM/yy'}}
        </div>
    </div>
</div>
