<script type='text/javascript' src="http://jscolor.com/release/2.0/jscolor-2.0.5/jscolor.js"></script>
<div class="Container">
    <ul class="nav nav-tabs">
        <li class="active" ng-class="{'active': isActiveTab(1)}">
        <a role="tab" data-toggle="tab"  ng-click="tab=1">Company Details</a></li>
        <li ng-class="{'active': isActiveTab(2)}"><a role="tab" data-toggle="tab" ng-class="{active:isActiveTab(2)}" ng-click="tab=2">Chatbot Details</a></li>
        <li ng-class="{'active': isActiveTab(3)}"><a role="tab" data-toggle="tab" ng-class="{active:isActiveTab(3)}" ng-click="tab=3">Quations and Answers for Chatbots</a></li>
        <li ng-class="{'active': isActiveTab(4)}"><a role="tab" data-toggle="tab" ng-class="{active:isActiveTab(4)}" ng-click="tab=4">Goal Defination</a></li>
    </ul>

    <div class="tab-content" style="padding-top:10px">
        <div ng-show="isActiveTab(1)" ng-class="tab==1?'tab-pane fade in active':'tab-pane fade in'">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtCompanyName">Company Name</label>
                    <div class="col-sm-7">
                        <input type="text" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" class="form-control" id="txtCompanyName" ng-model="BotDeployment.CompanyName" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtWebsite">Website</label>
                    <div class="col-sm-7">
                        <input type="text" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" class="form-control" id="txtWebsite" ng-model="BotDeployment.Website" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtFacebookPage">Facebook Page</label>
                    <div class="col-sm-7">
                        <input type="text" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" class="form-control" id="txtFacebookPage"  ng-model="BotDeployment.FacebookPage" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtContactPage">Contact Page</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="txtContactPage" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="BotDeployment.ContactPage" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtContactNo">Phone No</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="txtContactNo" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="BotDeployment.ContactNo" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-danger" value="Cancel"
                               style="border-radius:5px;height:39px;width:150px;font-weight:bold;"
                               ng-click="Cancel()" />
                    </div>
                </div>
            </div>

            <nav>
                <ul class="pager">
                    <li class="next">
                        <a href="" ng-click="NextTab(tab)">Next<span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div ng-show="isActiveTab(2)" ng-class="tab==2?'tab-pane fade in active':'tab-pane fade in'">
            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtName">Chatbot Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="txtName" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="BotDeployment.Name" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtPassword">Knowledge Domain</label>
                    <div class="col-sm-7">
                        <select class="custom-select"
                                id="ddlLuis" style="border-radius:5px;" ng-model="BotDeployment.LuisId">
                            <option>Choose...</option>
                            <option ng-repeat="domain in LuisDomains"
                                    value="{{domain.Id}}" ng-selected="domain.Id== BotDeployment.LuisId">
                                {{domain.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtWelcomeMessage">Introductory Message</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="txtWelcomeMessage" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="BotDeployment.WelcomeMessage">
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtFirstMessage">First Message</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="txtFirstMessage" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="BotDeployment.FirstMessage">
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtBackGroundColor">Background Color</label>
                    <div class="col-sm-7">
                        <input type="text" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" class="jscolor" id="txtBackGroundColor" ng-model="BotDeployment.BackGroundColor">
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-danger" value="Cancel"
                               style="border-radius:5px;height:39px;width:150px;font-weight:bold;"
                               ng-click="Cancel()" />
                    </div>
                </div>
            </div>

            <nav>
                <ul class="pager">
                    <li class="previous">
                        <a href="" ng-click="PreviousTab(tab)"><span aria-hidden="true">&larr;</span> Previous</a>
                    </li>
                    <li class="next">
                        <a href="" ng-click="NextTab(tab)">Next<span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div ng-show="isActiveTab(3)" ng-class="tab==3?'tab-pane fade in active':'tab-pane fade in'">
            <table class="table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="BotQuestionAnswer.Question" />
                        </td>
                        <td>
                            <input type="text" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="BotQuestionAnswer.Answer" />
                        </td>
                        <td>
                            <a class="btn btn-primary" ng-click="AddMore(BotQuestionAnswer)" ng-show="!BotQuestionAnswer.IsEditMode">
                                Add
                            </a>
                            <a class="btn" ng-click="Update(BotQuestionAnswer)" ng-show="BotQuestionAnswer.IsEditMode">
                                Update
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="item in BotDeployment.BotQuestionAnswers">
                        <td>{{item.Question}}</td>
                        <td style="width:60%;">{{item.Answer}}</td>
                        <td>
                            <a class="btn btn-default" ng-click="Edit(item)">
                                <b>Edit</b>
                            </a>

                            <a class="btn btn-danger" ng-click="Remove($index)">
                                Remove
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-danger" value="Cancel"
                               style="border-radius:5px;height:39px;width:150px;font-weight:bold;"
                               ng-click="Cancel()" />
                    </div>
                </div>
            </div>

            <nav>
                <ul class="pager">
                    <li class="previous">
                        <a href="" ng-click="PreviousTab(tab)"><span aria-hidden="true">&larr;</span> Previous</a>
                    </li>
                    <li class="next">
                        <a href="" ng-click="NextTab(tab)">Next<span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div ng-show="isActiveTab(4)" ng-class="tab==4?'tab-pane fade in active':'tab-pane fade in'">
            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <label class="control-label col-sm-3 mandatory required" for="txtChatBotGoal">Define the goal of Chatbot</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="txtChatBotGoal" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="BotDeployment.ChatBotGoal">
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:2%">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-success" value="Save" ng-click="CreateChatBot()"
                               style="border-radius:5px;height:39px;width:150px;font-weight:bold;" />

                        <input type="button" class="btn btn-danger" value="Cancel"
                               style="border-radius:5px;height:39px;width:150px;font-weight:bold;"
                               ng-click="Cancel()" />
                    </div>
                </div>
            </div>

            <nav>
                <ul class="pager">
                    <li class="previous">
                        <a href="" ng-click="PreviousTab(tab)"><span aria-hidden="true">&larr;</span> Previous</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

