<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="clientId" value="40b6ab0b-dee7-4395-9d79-489e94d3c38d" />
    <add key="clientSecret" value="JEY3WhZP7+O2tHFXrgV0W7ZjI9TuMpUi/S0jHozvBCY=" />
    <add key="tenant" value="cd9cdc4c-b5c8-4631-acfc-4254623e0250" />
    <add key ="resourcelocation" value="South Central US"/>
    <add key="authString" value="https://login.microsoftonline.com/"/>
    <add key="resourceUrl" value="https://management.azure.com/"/>
    <add key="staticUri" value="https://management.azure.com/subscriptions/cdf9384e-f95e-45c3-ad51-8a07b8f94afc/resourcegroups/"/>
    <add key="apiversion" value="?api-version=2018-02-01"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
