<div class="container" ng-hide="LogView">
    <h2 style="margin-top:20px;font-family:'Rubik'">
        Analytics
        <span class="pull-right">
        </span>
    </h2>
    <div class='input-group date' id='datetimepicker1' style="padding-bottom:50px; padding-top:3%; width:100%;">
        <div></div>
        <div id="timespan" style="width:30%;display:inline-block">
            <div>
                <label style="font-family:'Rubik';font-size:medium;">Filter on Days</label>
            </div>
            <select style="border-radius:5px;width:45%;color:black;" data-ng-model="timespan" ng-change="GetTimeSpan(timespan)">
                <option value="" disabled selected>Select an Option</option>
                <option data-ng-repeat="time in TimeList">{{time.type}}</option>
            </select>
        </div>
        <div id="fromdate" style="width:20%;display:inline-block;margin-left:-12%">
            <label style="font-family:'Rubik'; font-size:medium; margin-left: 12%;">Start Date </label>
            <md-datepicker ng-model="fromdate" ng-disabled="disabled" md-placeholder="Start Date" md-min-date="minstartDate" md-max-date="maxstartDate" style="margin-right:20px" md-open-on-focus></md-datepicker>
        </div>
        <div id="todate" style="width:20%;display:inline-block;margin-left:-2% ">
            <label style="font-family:'Rubik';font-size:medium;margin-left: 12%;">End Date </label>
            <md-datepicker ng-model="todate" ng-disabled="disabled" md-placeholder="End Date" md-min-date="minendDate" md-max-date="maxendDate" md-open-on-focus></md-datepicker>
        </div>
        <div id="btnlogview" style="width:30%;display:inline-block;margin-left:7%;">
            <button class="btn btn-default" style="margin-left:-25%;background-color:#b296af;margin-top:-6%;font-family:'Rubik';font-weight:bold" ng-click="GetQuestionsAsked()">Show Reports</button>
        </div>
    </div>
</div>
<div class="container" ng-hide="IsEditMode">
    <ul class="nav nav-tabs">
        <li ng-class="{'active': isActiveTab(1)}">
            <a role="tab" data-toggle="tab" ng-click="tab=1" style="font-family:'Rubik'">Top 10 Questions Asked</a>
        </li>
        <li ng-class="{'active': isActiveTab(2)}">
            <a role="tab" data-toggle="tab" ng-class="{active:isActiveTab(2)}" ng-click="tab=2" style="font-family:'Rubik'">Chatter's Demographics</a>
        </li>
        <li ng-class="{'active': isActiveTab(3)}">
            <a role="tab" data-toggle="tab" ng-class="{active:isActiveTab(3)}" ng-click="tab=3" style="font-family:'Rubik'">Date & Time of Interactions</a>
        </li>
        <li ng-class="{'active': isActiveTab(4)}">
            <a role="tab" data-toggle="tab" ng-class="{active:isActiveTab(4)}" ng-click="tab=4" style="font-family:'Rubik'">Chatbot’s Response Analysis</a>
        </li>
        <li ng-class="{'active': isActiveTab(5)}">
            <a role="tab" data-toggle="tab" ng-class="{active:isActiveTab(5)}" ng-click="tab=5" style="font-family:'Rubik'">Analysis on Clicked Links</a>
        </li>
        <li ng-class="{'active': isActiveTab(6)}">
            <a role="tab" data-toggle="tab" ng-class="{active:isActiveTab(6)}" ng-click="tab=6" style="font-family:'Rubik'">Goal Conversions</a>
        </li>
    </ul>

    <div class="tab-content" style="">
        <div ng-show="isActiveTab(4)" ng-class="tab==4?'tab-pane fade in active':'tab-pane fade in'">
            <div>
                <div id="botreply" style="min-width: 100px; height:100%; margin: 0 auto;margin-top:40px;"></div>
                <div id="botresponse">
                    <div>
                        <img id="botresponsespinner" ng-src="/syra_assets/circle-loading-animation.gif" style="display:none; height:100px;width:100px;margin-left:500px;margin-bottom:60px;margin-top:10%;">
                    </div>
                    <script type="text/javascript">
                        function disableButton(btn) {
                            document.getElementById(btn.id).style.display = 'none';
                        }
                        function getBotResponsePagination(table) {
                            var lastPage = 1;
                            $('#botresponsemaxRows').on('change', function (evt) {
                                lastPage = 1;
                                $('#botresponsepagination').find("li").slice(1, -1).remove();
                                var trnum = 0;									// reset tr counter
                                var maxRows = parseInt($(this).val());
                                if (maxRows == 5000) {
                                    $('#botresponsepagination').hide();
                                } else {
                                    $('#botresponsepagination').show();
                                }
                                var totalRows = $(table + ' tbody tr').length;		// numbers of rows
                                $(table + ' tr:gt(0)').each(function () {			// each TR in  table and not the header
                                    trnum++;									// Start Counter
                                    if (trnum > maxRows) {
                                        $(this).hide();							// fade it out
                                    } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
                                });											//  was fade out to fade it in
                                if (totalRows > maxRows) {						// if tr total rows gt max rows option
                                    var pagenum = Math.ceil(totalRows / maxRows);	// ceil total(rows/maxrows) to get ..
                                    //	numbers of pages
                                    for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                                        $('#botresponsepagination #prev').before('<li data-page="' + i + '">\
                                                                                                                                                                  <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                                                                                </li>').show();
                                    }											// end for i
                                } 												// end if row count > max rows
                                $('#botresponsepagination [data-page="1"]').addClass('active'); // add active class to the first li
                                $('#botresponsepagination li').on('click', function (evt) {		// on click each page
                                    evt.stopImmediatePropagation();
                                    evt.preventDefault();
                                    var pageNum = $(this).attr('data-page');	// get it's number

                                    var maxRows = parseInt($('#botresponsemaxRows').val());			// get Max Rows from select option

                                    if (pageNum == "prev") {
                                        if (lastPage == 1) { return; }
                                        pageNum = --lastPage;
                                    }
                                    if (pageNum == "next") {
                                        if (lastPage == ($('#botresponsepagination li').length - 2)) { return; }
                                        pageNum = ++lastPage;
                                    }
                                    lastPage = pageNum;
                                    var trIndex = 0;							// reset tr counter
                                    $('#botresponsepagination li').removeClass('active');	// remove active class from all li
                                    $('#botresponsepagination [data-page="' + lastPage + '"]').addClass('active');// add active class to the clicked
                                    // $(this).addClass('active');					// add active class to the clicked
                                    $(table + ' tr:gt(0)').each(function () {		// each tr in table not the header
                                        trIndex++;								// tr index counter
                                        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                                        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                                            $(this).hide();
                                        } else { $(this).show(); } 				//else fade in
                                    }); 										// end of for each tr in table
                                });										// end of on click pagination list

                            }).val(5).change();
                        }
                        $(function () {
                            // Just to append id number for each row
                            $('table tr:eq(0)').prepend('<th> ID </th>')

                            var id = 0;

                            $('table tr:gt(0)').each(function () {
                                id++
                                $(this).prepend('<td>' + id + '</td>');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

        <div ng-show="isActiveTab(1)" ng-class="tab==1?'tab-pane fade in active':'tab-pane fade in'">
            <div>
                <div id="container_query" style="min-width: 100px; height: 100%; margin: 0 auto;margin-top:20px;"></div>
                <div id="dvTable">
                    <div>
                        <img id="spinner" ng-src="/syra_assets/circle-loading-animation.gif" style="display:none; height:100px;width:100px;margin-left:500px;margin-bottom:60px;margin-top:10%;">
                    </div>
                    <script type="text/javascript">
                        function disableButton(btn) {
                            document.getElementById(btn.id).style.display = 'none';
                        }
                        function getUserQueryPagination(table) {
                            var lastPage = 1;
                            $('#querymaxRows').on('change', function (evt) {
                                lastPage = 1;
                                $('#pagemark').find("li").slice(1, -1).remove();
                                var trnum = 0;									// reset tr counter
                                var maxRows = parseInt($(this).val());
                                if (maxRows == 5000) {
                                    $('#pagemark').hide();
                                } else {
                                    $('#pagemark').show();
                                }
                                var totalRows = $(table + ' tbody tr').length;		// numbers of rows
                                $(table + ' tr:gt(0)').each(function () {			// each TR in  table and not the header
                                    trnum++;									// Start Counter
                                    if (trnum > maxRows) {
                                        $(this).hide();							// fade it out
                                    } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
                                });											//  was fade out to fade it in
                                if (totalRows > maxRows) {						// if tr total rows gt max rows option
                                    var pagenum = Math.ceil(totalRows / maxRows);	// ceil total(rows/maxrows) to get ..
                                    //	numbers of pages
                                    for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                                        $('#pagemark #prev').before('<li data-page="' + i + '">\
                                                                                                                          <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                                        </li>').show();
                                    }											// end for i
                                } 												// end if row count > max rows
                                $('#pagemark [data-page="1"]').addClass('active'); // add active class to the first li
                                $('#pagemark li').on('click', function (evt) {		// on click each page
                                    evt.stopImmediatePropagation();
                                    evt.preventDefault();
                                    var pageNum = $(this).attr('data-page');	// get it's number

                                    var maxRows = parseInt($('#querymaxRows').val());			// get Max Rows from select option

                                    if (pageNum == "prev") {
                                        if (lastPage == 1) { return; }
                                        pageNum = --lastPage;
                                    }
                                    if (pageNum == "next") {
                                        if (lastPage == ($('#pagemark li').length - 2)) { return; }
                                        pageNum = ++lastPage;
                                    }
                                    lastPage = pageNum;
                                    var trIndex = 0;							// reset tr counter
                                    $('#pagemark li').removeClass('active');	// remove active class from all li
                                    $('#pagemark [data-page="' + lastPage + '"]').addClass('active');// add active class to the clicked
                                    // $(this).addClass('active');					// add active class to the clicked
                                    $(table + ' tr:gt(0)').each(function () {		// each tr in table not the header
                                        trIndex++;								// tr index counter
                                        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                                        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                                            $(this).hide();
                                        } else { $(this).show(); } 				//else fade in
                                    }); 										// end of for each tr in table
                                });										// end of on click pagination list

                            }).val(5).change();
                        }
                        $(function () {
                            // Just to append id number for each row
                            $('table tr:eq(0)').prepend('<th> ID </th>')

                            var id = 0;

                            $('table tr:gt(0)').each(function () {
                                id++
                                $(this).prepend('<td>' + id + '</td>');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

        <div ng-show="isActiveTab(5)" ng-class="tab==5?'tab-pane fade in active':'tab-pane fade in'">
            <div id="goalconversion" style="min-width: 100px; height: 100%; margin: 0 auto;margin-top:30px;"></div>
            <div id="linkTable">
                <div>
                    <img id="goalconversionspinner" ng-src="/syra_assets/circle-loading-animation.gif" style="display:none; height:100px;width:100px;margin-left:500px;margin-bottom:200px;margin-top:10%;" ">
                </div>
                <script type="text/javascript">
                    function disableButton(btn) {
                        document.getElementById(btn.id).style.display = 'none';
                    }
                    function getGoalConversionPagination(table) {
                        var lastPage = 1;
                        $('#maxRows').on('change', function (evt) {
                            lastPage = 1;
                            $('#linkpagination').find("li").slice(1, -1).remove();
                            var trnum = 0;									// reset tr counter
                            var maxRows = parseInt($(this).val());
                            if (maxRows == 5000) {
                                $('#linkpagination').hide();
                            } else {
                                $('#linkpagination').show();
                            }
                            var totalRows = $(table + ' tbody tr').length;		// numbers of rows
                            $(table + ' tr:gt(0)').each(function () {			// each TR in  table and not the header
                                trnum++;									// Start Counter
                                if (trnum > maxRows) {
                                    $(this).hide();							// fade it out
                                } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
                            });											//  was fade out to fade it in
                            if (totalRows > maxRows) {						// if tr total rows gt max rows option
                                var pagenum = Math.ceil(totalRows / maxRows);	// ceil total(rows/maxrows) to get ..
                                //	numbers of pages
                                for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                                    $('#linkpagination #prev').before('<li data-page="' + i + '">\
                                                                                                              <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                            </li>').show();
                                }											// end for i
                            } 												// end if row count > max rows
                            $('#linkpagination [data-page="1"]').addClass('active'); // add active class to the first li
                            $('#linkpagination li').on('click', function (evt) {		// on click each page
                                evt.stopImmediatePropagation();
                                evt.preventDefault();
                                var pageNum = $(this).attr('data-page');	// get it's number

                                var maxRows = parseInt($('#maxRows').val());			// get Max Rows from select option

                                if (pageNum == "prev") {
                                    if (lastPage == 1) { return; }
                                    pageNum = --lastPage;
                                }
                                if (pageNum == "next") {
                                    if (lastPage == ($('.pagination li').length - 2)) { return; }
                                    pageNum = ++lastPage;
                                }
                                lastPage = pageNum;
                                var trIndex = 0;							// reset tr counter
                                $('#linkpagination li').removeClass('active');	// remove active class from all li
                                $('#linkpagination [data-page="' + lastPage + '"]').addClass('active');// add active class to the clicked
                                // $(this).addClass('active');					// add active class to the clicked
                                $(table + ' tr:gt(0)').each(function () {		// each tr in table not the header
                                    trIndex++;								// tr index counter
                                    // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                                        $(this).hide();
                                    } else { $(this).show(); } 				//else fade in
                                }); 										// end of for each tr in table
                            });										// end of on click pagination list

                        }).val(5).change();
                    }
                    $(function () {
                        // Just to append id number for each row
                        $('table tr:eq(0)').prepend('<th> ID </th>')

                        var id = 0;

                        $('table tr:gt(0)').each(function () {
                            id++
                            $(this).prepend('<td>' + id + '</td>');
                        });
                    });
                </script>
            </div>
        </div>

        <div ng-show="isActiveTab(2)" ng-class="tab==2?'tab-pane fade in active':'tab-pane fade in'">
            <div>
                <div id="container" style="max-width: 1000px;margin-top:30px;height: 100%;"></div>
                <div id="worldTable">
                    <div>
                        <img id="worldspinner" ng-src="/syra_assets/circle-loading-animation.gif" style="display:none; height:80px;width:80px;margin-left:500px;margin-top:10%;">
                    </div>
                    <script type="text/javascript">
                        function disableButton(btn) {
                            document.getElementById(btn.id).style.display = 'none';
                        }
                        function getWorldAnalysisPagination(table) {
                            var lastPage = 1;
                            $('#worldmaxRows').on('change', function (evt) {
                                lastPage = 1;
                                $('#worldpagination').find("li").slice(1, -1).remove();
                                var trnum = 0;									// reset tr counter
                                var maxRows = parseInt($(this).val());
                                if (maxRows == 5000) {
                                    $('#worldpagination').hide();
                                } else {
                                    $('#worldpagination').show();
                                }
                                var totalRows = $(table + ' tbody tr').length;		// numbers of rows
                                $(table + ' tr:gt(0)').each(function () {			// each TR in  table and not the header
                                    trnum++;									// Start Counter
                                    if (trnum > maxRows) {
                                        $(this).hide();							// fade it out
                                    } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
                                });											//  was fade out to fade it in
                                if (totalRows > maxRows) {						// if tr total rows gt max rows option
                                    var pagenum = Math.ceil(totalRows / maxRows);	// ceil total(rows/maxrows) to get ..
                                    //	numbers of pages
                                    for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                                        $('#worldpagination #prev').before('<li data-page="' + i + '">\
                                                                                                                          <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                                        </li>').show();
                                    }											// end for i
                                } 												// end if row count > max rows
                                $('#worldpagination [data-page="1"]').addClass('active'); // add active class to the first li
                                $('#worldpagination li').on('click', function (evt) {		// on click each page
                                    evt.stopImmediatePropagation();
                                    evt.preventDefault();
                                    var pageNum = $(this).attr('data-page');	// get it's number

                                    var maxRows = parseInt($('#worldmaxRows').val());			// get Max Rows from select option

                                    if (pageNum == "prev") {
                                        if (lastPage == 1) { return; }
                                        pageNum = --lastPage;
                                    }
                                    if (pageNum == "next") {
                                        if (lastPage == ($('#worldpagination li').length - 2)) { return; }
                                        pageNum = ++lastPage;
                                    }
                                    lastPage = pageNum;
                                    var trIndex = 0;							// reset tr counter
                                    $('#worldpagination li').removeClass('active');	// remove active class from all li
                                    $('#worldpagination [data-page="' + lastPage + '"]').addClass('active');// add active class to the clicked
                                    // $(this).addClass('active');					// add active class to the clicked
                                    $(table + ' tr:gt(0)').each(function () {		// each tr in table not the header
                                        trIndex++;								// tr index counter
                                        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                                        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                                            $(this).hide();
                                        } else { $(this).show(); } 				//else fade in
                                    }); 										// end of for each tr in table
                                });										// end of on click pagination list

                            }).val(5).change();
                        }
                        $(function () {
                            // Just to append id number for each row
                            $('table tr:eq(0)').prepend('<th> ID </th>')

                            var id = 0;

                            $('table tr:gt(0)').each(function () {
                                id++
                                $(this).prepend('<td>' + id + '</td>');
                            });
                        });
                    </script>
                </div>
            </div>

        </div>

        <div ng-show="isActiveTab(3)" ng-class="tab==3?'tab-pane fade in active':'tab-pane fade in'">
            <div id="timing-container" style="min-width: 100px; height: 100%; margin: 0 auto;margin-top:30px;"></div>
            <div id="timetable">
                <div>
                    <img id="timespinner" ng-src="/syra_assets/circle-loading-animation.gif" style="display:none; height:80px;width:80px;margin-left:500px;margin-bottom:60px;margin-top:10%;">
                </div>
                <script type="text/javascript">
                    function disableButton(btn) {
                        document.getElementById(btn.id).style.display = 'none';
                    }
                    function getUserQueryPagination(table) {
                        var lastPage = 1;
                        $('#timemaxRows').on('change', function (evt) {
                            lastPage = 1;
                            $('#timepagemark').find("li").slice(1, -1).remove();
                            var trnum = 0;									// reset tr counter
                            var maxRows = parseInt($(this).val());
                            if (maxRows == 5000) {
                                $('#timepagemark').hide();
                            } else {
                                $('#timepagemark').show();
                            }
                            var totalRows = $(table + ' tbody tr').length;		// numbers of rows
                            $(table + ' tr:gt(0)').each(function () {			// each TR in  table and not the header
                                trnum++;									// Start Counter
                                if (trnum > maxRows) {
                                    $(this).hide();							// fade it out
                                } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
                            });											//  was fade out to fade it in
                            if (totalRows > maxRows) {						// if tr total rows gt max rows option
                                var pagenum = Math.ceil(totalRows / maxRows);	// ceil total(rows/maxrows) to get ..
                                //	numbers of pages
                                for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                                    $('#timepagemark #prev').before('<li data-page="' + i + '">\
                                                                                                                                      <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                                                    </li>').show();
                                }											// end for i
                            } 												// end if row count > max rows
                            $('#timepagemark [data-page="1"]').addClass('active'); // add active class to the first li
                            $('#timepagemark li').on('click', function (evt) {		// on click each page
                                evt.stopImmediatePropagation();
                                evt.preventDefault();
                                var pageNum = $(this).attr('data-page');	// get it's number

                                var maxRows = parseInt($('#timemaxRows').val());			// get Max Rows from select option

                                if (pageNum == "prev") {
                                    if (lastPage == 1) { return; }
                                    pageNum = --lastPage;
                                }
                                if (pageNum == "next") {
                                    if (lastPage == ($('#timepagemark li').length - 2)) { return; }
                                    pageNum = ++lastPage;
                                }
                                lastPage = pageNum;
                                var trIndex = 0;							// reset tr counter
                                $('#timepagemark li').removeClass('active');	// remove active class from all li
                                $('#timepagemark [data-page="' + lastPage + '"]').addClass('active');// add active class to the clicked
                                // $(this).addClass('active');					// add active class to the clicked
                                $(table + ' tr:gt(0)').each(function () {		// each tr in table not the header
                                    trIndex++;								// tr index counter
                                    // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                                        $(this).hide();
                                    } else { $(this).show(); } 				//else fade in
                                }); 										// end of for each tr in table
                            });										// end of on click pagination list

                        }).val(5).change();
                    }
                    $(function () {
                        // Just to append id number for each row
                        $('table tr:eq(0)').prepend('<th> ID </th>')

                        var id = 0;

                        $('table tr:gt(0)').each(function () {
                            id++
                            $(this).prepend('<td>' + id + '</td>');
                        });
                    });
                </script>

            </div>

        </div>

        <div ng-show="isActiveTab(6)" ng-class="tab==6?'tab-pane fade in active':'tab-pane fade in'">
            <div id="goal-container" style="min-width: 100px; height: 100%; margin: 0 auto;margin-top:30px;"></div>
            <div id="goalconversion_worldTable" style="display:inline-block">
                <div>
                    <img id="goalconversion_spinner" ng-src="/syra_assets/circle-loading-animation.gif" style="display:none; height:80px;width:80px;margin-left:500px;margin-bottom:60px;margin-top:10%;">
                </div>
                <script type="text/javascript">
                    function disableButton(btn) {
                        document.getElementById(btn.id).style.display = 'none';
                    }
                    function getWorldGoalConversionPagination(table) {
                        var lastPage = 1;
                        $('#goalconversionworldmaxRows').on('change', function (evt) {
                            lastPage = 1;
                            $('#goalconversion_worldpagination').find("li").slice(1, -1).remove();
                            var trnum = 0;									// reset tr counter
                            var maxRows = parseInt($(this).val());
                            if (maxRows == 5000) {
                                $('#goalconversion_worldpagination').hide();
                            } else {
                                $('#goalconversion_worldpagination').show();
                            }
                            var totalRows = $(table + ' tbody tr').length;		// numbers of rows
                            $(table + ' tr:gt(0)').each(function () {			// each TR in  table and not the header
                                trnum++;									// Start Counter
                                if (trnum > maxRows) {
                                    $(this).hide();							// fade it out
                                } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
                            });											//  was fade out to fade it in
                            if (totalRows > maxRows) {						// if tr total rows gt max rows option
                                var pagenum = Math.ceil(totalRows / maxRows);	// ceil total(rows/maxrows) to get ..
                                //	numbers of pages
                                for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                                    $('#goalconversion_worldpagination #prev').before('<li data-page="' + i + '">\
                                                                                                                                                                      <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                                                                                    </li>').show();
                                }											// end for i
                            } 												// end if row count > max rows
                            $('#goalconversion_worldpagination [data-page="1"]').addClass('active'); // add active class to the first li
                            $('#goalconversion_worldpagination li').on('click', function (evt) {		// on click each page
                                evt.stopImmediatePropagation();
                                evt.preventDefault();
                                var pageNum = $(this).attr('data-page');	// get it's number

                                var maxRows = parseInt($('#goalconversionworldmaxRows').val());			// get Max Rows from select option

                                if (pageNum == "prev") {
                                    if (lastPage == 1) { return; }
                                    pageNum = --lastPage;
                                }
                                if (pageNum == "next") {
                                    if (lastPage == ($('#goalconversion_worldpagination li').length - 2)) { return; }
                                    pageNum = ++lastPage;
                                }
                                lastPage = pageNum;
                                var trIndex = 0;							// reset tr counter
                                $('#goalconversion_worldpagination li').removeClass('active');	// remove active class from all li
                                $('#goalconversion_worldpagination [data-page="' + lastPage + '"]').addClass('active');// add active class to the clicked
                                // $(this).addClass('active');					// add active class to the clicked
                                $(table + ' tr:gt(0)').each(function () {		// each tr in table not the header
                                    trIndex++;								// tr index counter
                                    // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                                        $(this).hide();
                                    } else { $(this).show(); } 				//else fade in
                                }); 										// end of for each tr in table
                            });										// end of on click pagination list

                        }).val(5).change();
                    }
                    $(function () {
                        // Just to append id number for each row
                        $('table tr:eq(0)').prepend('<th> ID </th>')

                        var id = 0;

                        $('table tr:gt(0)').each(function () {
                            id++
                            $(this).prepend('<td>' + id + '</td>');
                        });
                    });
                </script>

            </div>
            <div id="timebasedgoal-container" style="min-width: 100px; height: 100%; margin: 0 auto;margin-top:30px;"></div>

        </div>
    </div>
</div>
