<head>
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
</head>
<div class="container" ng-hide="LogView">
    <h3>
        Log View
        <span class="pull-right">
        </span>
    </h3>
    <div class='input-group date' id='datetimepicker1' style="padding-bottom:50px; width:400px;">
        <md-datepicker ng-model="myDate" md-placeholder="Start Date" md-min-date="minstartDate"  md-max-date="maxstartDate" style="margin-right:20px" md-open-on-focus></md-datepicker>
        <md-datepicker ng-model="endDate" md-placeholder="End Date" md-min-date="minendDate"  md-max-date="maxendDate" md-open-on-focus></md-datepicker>
        <button class="btn btn-success" style="margin-left:25px;" ng-click="showDate()">Submit</button>
    </div>
    <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-responsive table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-align-center" style="width:250px">DateTime</th>
                <!--<th class="text-align-center">Time</th>-->
                <th class="text-align-center" style="width:200px;">Session Id</th>
                <th class="text-align-center">IPAddress</th>
                <th class="text-align-center">Region</th>
                <th class="text-align-center">User Query</th>
                <th class="text-align-center">Bot Answers</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="log in Logs">
                <td class="text-align-center">{{log.LogDate}}</td>
                <td class="text-align-center">{{log.SessionId}}</td>
                <td class="text-align-center">{{log.IPAddress}}</td>
                <td class="text-align-center">{{log.Region}}</td>
                <td class="text-align-center">{{log.UserQuery}}</td>
                <td class="text-align-center" ng-bind-html="log.BotAnswers1"></td>

            </tr>
        </tbody>
    </table>
</div>