<!--<head>
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
</head>-->
<div class="container" ng-hide="LogView">
    <h2>
        Log View
        <span class="pull-right">
        </span>
    </h2>
    <div class='input-group date' id='datetimepicker1' style="padding-bottom:50px; padding-top:3%; width:400px;">
        <label class="col-sm-4" style="font-family:'Times New Roman', Times, serif; font-size:medium; margin-left: 2.5%;">Start Date </label>
        <md-datepicker ng-model="myDate" md-placeholder="Start Date" md-min-date="minstartDate" md-max-date="maxstartDate" style="margin-right:20px" md-open-on-focus></md-datepicker>
        <label class="col-sm-4" style="font-family:'Times New Roman', Times, serif;font-size:medium;margin-left: 25%;">End Date </label>
        <md-datepicker ng-model="endDate" md-placeholder="End Date" md-min-date="minendDate" md-max-date="maxendDate" md-open-on-focus></md-datepicker>
        <button class="btn btn-success" style="margin-left:5%;margin-top:7%" ng-click="showDate()">Show Logs</button>
    </div>
    <table datatable="ng" style="margin-top:1%" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="table table-responsive table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-align-center" style="width:250px">DateTime</th>
                <th class="text-align-center" style="width:200px;">Session Id</th>
                <th class="text-align-center">IP Address</th>
                <th class="text-align-center">Region</th>
                <th class="text-align-center">User Query</th>
                <th class="text-align-center">Bot Answers</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="log in Logs">
                <td class="text-align-center">{{log.LogDate}}</td>
                <td class="text-align-center">{{log.SessionId}}</td>
                <td class="text-align-center">{{log.Region}}</td>
                <td class="text-align-center">{{log.IPAddress}}</td>
                <td class="text-align-center">{{log.UserQuery}}</td>
                <td class="text-align-center" ng-bind-html="log.BotAnswers1"></td>

            </tr>
        </tbody>
    </table>
</div>