@model Syra.Admin.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Account Confirmation";
}
<h2> Account Confirmation</h2>

<div>
    <h4> Thank You !! Your account is registered successfully</h4>
</div>