<div class="container">
    <h3>
        My DataEntries <span class="badge"></span>
        <span class="pull-right">
            <a ui-sref="newdataentry" style="height: 33px;border: 0px;font-size:15px;background-color: transparent;">
                Create New
            </a>
        </span>
    </h3>
    
    <table datatable="ng" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"class="table table-responsive table-bordered table-striped">
        <thead>
            <tr>
                <th style="text-align:center">Intent</th>
                <th style="text-align:center">Entity</th>
                <th style="text-align:center">Response</th>
                <th style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in alldata">
                <td style="text-align:center">{{entry.Intent}}</td>
                <td style="text-align:center">{{entry.Entity}}</td>
                <td style="text-align:center" ng-bind-html="entry.BotResponse"></td>
                <td style="text-align:center">
                    <a href="/#/database/{{entry.Id}}" class="btn btn-default">
                        Edit
                    </a>
                    <a class="btn btn-danger" ng-click="Delete(entry.Id)">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>