<div class="Container">
    <h2>
       Change Password <span class="badge"></span>
    </h2>
    <div class="tab-content" style="padding-top:10px">

        <div class="row" style="padding-top:10px">
            <div class="form-group">
                <label class="control-label col-sm-2 mandatory required" style="font-weight:normal" for="txtPassword"><b>New Password</b></label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="txtPassword" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="Changepassword.Password" required>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:15px">
            <div class="form-group">
                <label class="control-label col-sm-2 mandatory required" style="font-weight:normal" for="txtConfirmPassword"><b>Confirm Password</b></label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="txtConfirmPassword" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" ng-model="Changepassword.ConfirmPassword" required>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:15px">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default" value="Reset" ng-click="ForgotPassword()"
                       style="border-radius:5px;height:39px;width:90px;font-weight:bold;background-color:#b296af" />
            </div>
        </div>
    </div>

</div>
