<div class="Container">
    <ul class="nav nav-tabs">
        <li class="active" ng-class="{'active': isActiveTab(1)}"><a role="tab" data-toggle="tab" ng-click="tab=1"><b>Luis Domain Details</b></a></li>
        <li style="padding-left:70%;margin-bottom:1%;font-weight:bold;font-size:medium"onMouseOver="this.style.color='#8d3052'" onMouseOut="this.style.color='#1e1f21'">{{CreateLuis.Name}}</li>
    </ul>
    <div class="tab-content" style="padding-top:20px">
        <div ng-show="isActiveTab(1)" ng-class="tab==1?'tab-pane fade in active':'tab-pane fade in'">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" style="font-weight:normal" for="txtName"><b>Domain Name</b></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" id="txtName" ng-model="CreateLuis.Name" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtDetails" style="font-weight:normal"><b>Details</b></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" id="txtDetails" ng-model="CreateLuis.Details" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px">
                <div class="form-group">
                    <label class="control-label col-sm-2 mandatory required" for="txtCategory" style="font-weight:normal"><b>Category</b></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" id="txtCategory" ng-model="CreateLuis.Category" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="txtLuisAppId" style="font-weight:normal"><b>Luis App Id</b></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" id="txtLuisAppId" ng-model="CreateLuis.LuisAppId" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="txtLuisAppKey" style="font-weight:normal"><b>Luis App Key</b></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" style="border-radius:5px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" id="txtLuisAppKey" ng-model="CreateLuis.LuisAppKey" required>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:20px">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-primary" value="Save" ng-click="DomainCreate()"
                               style="border-radius:5px;height:39px;width:150px;font-weight:bold;"/>

                        <input type="button" class="btn btn-danger" value="Cancel"
                               style="border-radius:5px;height:39px;width:150px;font-weight:bold;"
                               ng-click="Cancel()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
