<div class="container">
    <h2>My Luis Domains</h2>

    <p><a ui-sref="newluisdomain" style="height: 33px;border: 0px;font-size:15px;background-color: transparent;">Create New</a> </p>

    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Details</th>
                <th style="text-align:center">Category</th>
                <th style="text-align:center">LuisApp Id</th>
                <th style="text-align:center">LuisApp Key</th>
                <th style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="luis in luisdomain">
                <td style="text-align:center">{{luis.Name}}</td>
                <td style="text-align:center">{{luis.Details}}</td>
                <td style="text-align:center">{{luis.Category}}</td>
                <td style="text-align:center">{{luis.LuisAppId}}</td>
                <td style="text-align:center">{{luis.LuisAppKey}}</td>
                <td style="text-align:center">
                    <a href="/#/chatbot/{{chatbot.Id}}" class="btn">
                        Edit
                    </a>
                    <a class="btn" ng-click="Delete(chatbot.Id)">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>